@import '../../style/variables';

.sign-in-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      195deg,
      rgba(66, 66, 74, 0.6),
      rgba(25, 25, 25, 0.6)
    ),
    url(https://demos.creative-tim.com/material-dashboard-react/static/media/bg-sign-in-basic.f327db1d.jpeg);
}
.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  width: 350px;

  height: 500px;
  background-color: $white-200;

  border-radius: 8px;
  position: relative;
  .sign-in-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    width: calc(100% - 40px);
    height: 140px;
    background-color: $input-border;
    border-radius: 8px;
    position: absolute;
    top: -30px;
    color: $white-200;
  }
  > .form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: absolute;
    > .sign-in-email-input,
    .sign-in-password-input {
      width: 100%;
      height: 50px;
      outline: none;
      border: none;
      margin-bottom: 2rem;
    }
    .sign-in-button {
      width: 100%;
      height: 3rem;
      margin-bottom: 2rem;
      background-color: $input-border;
      margin-top: 30px;
      font-weight: 600;
    }
    .sign-in-signup {
      color: #afafaf;
      > p > em {
        color: $input-border;
        font-weight: 600;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
